file_to_ignore.txt
.Rproj.user
week_07/weekend/Thijmen_brainstorm_NHSinfo.png
week_07/weekend/additional_info.rtf
week_07/weekend/Thijmen_brainstorm_NHSinfo.excalidraw
Penguins_present.pdf
link_recorded_group_presentation.txt
australia_customers.csv
france_customers.csv
germany_customers.csv
new_zealand_customers.csv
spain_customers.csv
uk_customers.csv
usa_customers.csv
