file_to_ignore.txt
.Rproj.user
week_07/weekend/Thijmen_brainstorm_NHSinfo.png
week_07/weekend/additional_info.rtf
week_07/weekend/Thijmen_brainstorm_NHSinfo.excalidraw
Penguins_present.pdf
link_recorded_group_presentation.txt
